.header {
    width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px grey;
    padding: 20px;
}
.logo {
    margin-right: 450px;
}
.nav-link {
    margin-left: 20px;
}
.header span {
    cursor: pointer;
}
.header span:hover {
    color: brown;
}