.homePage {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px grey;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.categories-list {
    width: 250px;
}
.all-quotes {
    width: 450px;
}
li:hover {
    font-weight: bold;
    cursor: pointer;
}
.quote {
    width: 80%;
    margin: 10px auto;
    padding: 10px 50px 10px 10px;
    box-shadow: 0 0 10px grey;
    position: relative;
}
.fa {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.edit {
    top: 10px;
    right: 70px;
}
.edit:hover {
    color: blue;
}
.delete {
    top: 10px;
    right: 10px;
}
.delete:hover {
    color: red;
}
.quote p {
    margin: 0;
}
.quote h5 {
    margin-bottom: 0;
}